<div class="content">
  <form class="form-input" [formGroup]="recordForm" (ngSubmit)="addRecord()">
    <input type="text" class="title-input" formControlName="titleControl" placeholder="The title of your record"/>
    <textarea class="content-input" formControlName="textControl" placeholder="Describe your record..."></textarea>
    <div class="input-tool">
      <input type="file" (change)="handleFileSelect($event)"/>
      <i class="fa-regular fa-paper-plane fa-xl" (click)="addRecord()"></i>
    </div>
  </form>
  <div class="records" >
    <div class="search">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="period" [rangePicker]="picker">
            <input matStartDate matInput formControlName="start" placeholder="Start date">
            <input matEndDate matInput formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker (change)="sortByDate()"></mat-date-range-picker>
        
          <mat-error *ngIf="period.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="period.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
        <button class="form-button" mat-flat-button color="accent" (click)="sortByDate()">Search by period</button>
      </div>
      <div class="search-content">
        <button class="form-button" mat-flat-button color="accent" (click)="sortByContent()">Search by content</button>
        <mat-form-field appearance="legacy">
          <mat-label>Content</mat-label>
          <input type="text" matInput [(ngModel)]="searchContent" />
        </mat-form-field>
      </div>
    </div>
    <hr />
    <div *ngFor="let record of records">
      <app-record [record]="record" (isDeleteRecord)="deleteRecord(record.id, $event)"></app-record>
    </div>
    <div class="show">
      <button mat-flat-button color="accent" [hidden]="hiddenShowMore" (click)="showMore()">Show more</button>
    </div>
  </div>
</div>
