.content {
    padding: 0px 15px;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input * {
    margin-top: 10px;
}

.input-tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-tool :last-child {
    cursor: pointer;
    padding-right: 10px;
}

.title-input {
    padding-left: 10px;
    border: none;
    height: 30px;
    width: 50%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.file-input {
    padding-left: 10px;
}

.content-input {
    padding: 7px;
    min-height: 60px;
    max-height: 180px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    resize: vertical;
}

.records {
    margin-top: 30px;
}

textarea:focus, input:focus{
    outline: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.search {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.search-content {
    display: flex;
    align-items: center;
}

.search-content :last-child {
    margin-left: 15px;
}

.show {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

::ng-deep .mat-form-field-infix {
    display: flex;
    align-items: center;
}

::ng-deep .mat-datepicker-toggle > button {
    color: gray;
}
