<div class="profile">
  <div class="user-info" *ngIf="userInfoModel">
    <div class="about-user">
      <div>
        <span>Nickname:</span>
        <span>Date of joining:</span>
        <span>Email:</span>
      </div>
      <div>
        <span>{{userInfoModel.nickname}}</span>
        <span>{{userInfoModel.createdAt | date:'d/M/yy, h:mm a'}}</span>
        <span>{{userInfoModel.email}}</span>
      </div>
    </div>
    <button class="delete" mat-flat-button color="warn" (click)="deleteUserAccount()">Delete account</button>
  </div>
  <div class="admin-panel" *ngIf="userInfoModel && userInfoModel.isAdmin">
    <form [formGroup]="inviteFormGroup" novalidate (ngSubmit)="invite()">
      <mat-form-field appearance="legacy">
        <mat-label>Send an invitation by email</mat-label>
        <input type="email" matInput [formControl]="inviteEmailControl" placeholder="Ex. pat@example.com" />
        <mat-error *ngIf="inviteEmailControl.hasError('email') && !inviteEmailControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="inviteEmailControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button class="form-button" mat-flat-button color="accent">Invite</button>
    </form>
    <form [formGroup]="changeFormGroup" novalidate (ngSubmit)="changeRole()">
      <mat-form-field appearance="legacy">
        <mat-label>Change role by email</mat-label>
        <input type="email" matInput [formControl]="changeEmailControl" placeholder="Ex. pat@example.com" />
        <mat-error *ngIf="changeEmailControl.hasError('email') && !changeEmailControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="changeEmailControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button class="form-button" mat-flat-button color="accent">Change role</button>
    </form>
  </div>
</div>
