<div class="container">
  <div>
    <label class="back" (click)="turnBack()">turn back</label>
  </div>
  <div class="profile">
    <div *ngIf="userInfoModel && userInfoModel.isAdmin">
      <form class="invite-form" [formGroup]="inviteFormGroup" novalidate (ngSubmit)="invite()">
        <div class="invite">
          <label class="label">Request by email:</label>
          <input class="email-input" type="email" formControlName="inviteEmailControl">
        </div>
        <i class="send-icon fa-regular fa-paper-plane fa-xl" (click)="invite()"></i>
      </form>
      <div>
        <form class="invite-form" [formGroup]="changeFormGroup" novalidate (ngSubmit)="changeRole()">
          <div class="invite">
            <label class="label">Change role by email:</label>
            <input class="email-input" type="email" formControlName="changeEmailControl">
          </div>
          <i class="send-icon fa-regular fa-paper-plane fa-xl" (click)="changeRole()"></i>
        </form>
      </div>
    </div>
    <div *ngIf="userInfoModel">
      <span>{{userInfoModel.nickname}}</span>
      <span>{{userInfoModel.createdAt}}</span>
      <span>{{userInfoModel.email}}</span>
      <button (click)="deleteUserAccount()">delete account</button>
    </div>
  </div>
</div>
