.container {
    padding: 10px;
}

.container:first-child {
    margin-top: 40px;
}

.form-container {
    margin-top: 200px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 5px;
}

.title {
    color: #291965;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 114.88%;
    text-align: left;
    margin: 0;
    padding: 0;
}

.login-title {
    color: #291965;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 114.88%;
    text-align: left;
    margin: 0;
    padding: 0;
}